**1.What are data structures, and why are they important?**

Data structures are specialized formats for organizing, processing, and storing data in a computer so that it can be accessed and modified efficiently. They define the relationship between the data and the operations that can be performed on them.

2.**Explain the difference between mutable and immutable data types with examples?**

Difference Between Mutable and Immutable Data Types

The core difference between mutable and immutable data types is:

Mutable: Can be changed after creation.

Immutable: Cannot be changed once created. Any operation that seems to modify it will instead create a new object.

**3.What are the main differences between lists and tuples in Python?**

The core difference between mutable and immutable data types is:

Mutable: Can be changed after creation.

Immutable: Cannot be changed once created. Any operation that seems to modify it will instead create a new object.

**4.Describe how dictionaries store data?**

A dictionary in Python is an unordered, mutable, key-value data structure.

Behind the scenes, Python dictionaries use a highly optimized hash table implementation.

**5.Why might you use a set instead of a list in Python?**
Sets automatically remove duplicate elements.
You want unique values

You need fast lookups

You want to use set logic operations

You don’t need indexing or duplicate values

**6.What is a string in Python, and how is it different from a list?**

A string in Python is a sequence of characters enclosed in quotes.
It’s used to represent textual data.
a)String
Only characters (text)
 Immutable

 Cannot change characters

 Text and characters

 b)List

 Any data type (numbers, strings, etc.)

  Mutable

General collections of items

**7.How do tuples ensure data integrity in Python?**

Tuples help ensure data integrity by being immutable — once created, their contents cannot be changed. This characteristic makes tuples especially useful in situations where data must remain constant and secure.

**8.What is a hash table, and how does it relate to dictionaries in Python?**
A hash table is a data structure that stores key-value pairs and provides fast access to values based on their keys.

It works by using a hash function to convert a key into a numerical index, which determines where the value is stored in memory.

**9.Can lists contain different data types in Python?**

Python lists are heterogeneous, meaning they can store elements of any data type, all in the same list.

**10.Explain why strings are immutable in Python.**

In Python, strings are immutable, meaning that once a string is created, it cannot be changed.

This is a deliberate design choice made for reasons like performance, security, and simplicity.

**11.What advantages do dictionaries offer over lists for certain tasks?**

While both lists and dictionaries store collections of data, dictionaries offer significant advantages for certain tasks—especially when it comes to data lookup, labeling, and organization

Dictionaries provide constant-time lookup using keys.

Lists require a linear search when searching by value or index.

**12.Describe a scenario where using a tuple would be preferable over a list?**

Use a tuple when you want to represent a fixed collection of items that should not change.
 Immutability	The coordinates shouldn’t change accidentally after being returned.
Semantic clarity	Using a tuple communicates that the structure is fixed and positional.
 Performance	Tuples are slightly faster and use less memory than lists.

 13.How do sets handle duplicate values in Python?

 sets automatically eliminate duplicate values.
 A set cannot contain duplicate elements.
If duplicates are added, only one unique instance is kept

**14.How does the “in” keyword work differently for lists and dictionaries?**
Checks whether an element exists in the list.

Performs a linear search: checks each item one by one.

Time complexity O(n)

in with Dictionaries

Checks whether a key exists in the dictionary — not a value.

Performs a hash table lookup.

Time complexity: O(1) average case.

`**15.Can you modify the elements of a tuple? Explain why or why not?**

No, you cannot modify the elements of a tuple directly — tuples are immutable in Python.
You cannot change, add, or remove items.

Any attempt to do so will result in a TypeError

**16.What is a nested dictionary, and give an example of its use case?**
A nested dictionary is a dictionary inside another dictionary.
That means each value in the outer dictionary can itself be a dictionary.
nested_dict = {
    "student1": {"name": "Alice", "grade": "A"},
    "student2": {"name": "Bob", "grade": "B"},
}

Outer dictionary keys: "student1", "student2"

Inner dictionaries: hold info like "name" and "grade" for each student

**17.Describe the time complexity of accessing elements in a dictionary?**
Python dictionaries are implemented using hash tables.
Python calls hash("age") to get the hash value.

That hash maps directly to a location in memory.

The value is retrieved immediately — no need to search through the dictionary.

**18.In what situations are lists preferred over dictionaries?**

While dictionaries are great for fast lookups by key, there are many situations where lists are a better choice.

Lists maintain the order of items naturally.

Ideal for ordered data (like time series, steps in a process, etc.).

Lists are perfect for iterating in the order items were added.
Lists are easier to manipulate when it comes to:

Appending

Inserting

Removing by index or value

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**
The order of items when you iterate over a dictionary matches the order in which you added them.

However, dictionaries are still not intended to be used like ordered lists — order is preserved, but not guaranteed to be stable under all operations

**20.Explain the difference between a list and a dictionary in terms of data retrieval?**

Lists and dictionaries are both used to store collections of data in Python, but they differ significantly in how you retrieve that data.

Lists store ordered sequences of elements.

You access items using their index (position).

Indices are integers starting from 0.

In [1]:
#1.Write a code to create a string with your name and print it
my_name = "Suman"
print(my_name)

Suman

In [3]:
#2.Write a code to find the length of the string "Hello World"
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

In [2]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [5]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_string = "I like apple"
replaced_string = my_string.replace("apple", "orange")
print(replaced_string)

I like orange

In [6]:
#6.P Write a code to create a list with numbers 1 to 5 and print it
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [11]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [12]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [13]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [14]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [37]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [36]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [35]:
#13.. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [34]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [33]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
my_tuple = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in my_tuple
print(is_kiwi_in_tuple)

False

In [32]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [31]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [29]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [30]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
union_set = my_set1.union(my_set2)
print(union_set)

{1, 2, 3, 4, 5}

In [28]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
intersection_set = my_set1.intersection(my_set2)
print(intersection_set)

{2, 3}

In [27]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [26]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [23]:
 #25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
 my_dict = {'name': 'Alice', 'city': 'Paris'}
is_city_key_present = 'city' in my_dict
print(is_city_key_present)

True

In [22]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]

In [21]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[50, 57, 64, 70, 98]

In [17]:
#28.Write a code to create a list with strings and print the element at the third index
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
third_element = my_list[2]
print(third_element)

cherry

In [16]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [15]:
#30. Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
my_set = set(my_list)
print(my_set)

{'apple', 'cherry', 'banana'}